@font-face {
    font-family: 'CustomFont';
    src: url('src/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

header {
    padding: 20px;
    background-color: #1f1f1f91;
    border-radius: 10px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
    background-color: #1f1f1f91;
    border-radius: 10px;
    max-width: 75%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
}

main p {
    margin-top: 0px;
    margin-bottom: -10px;
}

main h1 {
    margin-top: 0px;
    margin-bottom: 30px;
}

main h2 {
    margin-bottom: 10px;
}

header h3 {
    margin: 0;
    font-size: 40px;
    color: #f5c518;
}

main h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 17px;
    color: #999999;
}

header img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Tableau des mods */
body>table {
    width: 75%;
    max-width: 75%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border-color: #121212;
    background-color: #1e1e1e91;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

td, th {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #29292991;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

td img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

/* Liens */
a {
    color: #f5c518;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffdb4d;
    text-decoration: underline;
}

.parallax {
    background-image: url('src/img/space.png');
    background-repeat: repeat;
    background-size: 100% auto; /* L'image prend toute la largeur */
    background-position: top left;
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 100vh; /* Hauteur de la fenêtre */
    background-size: cover; /* L'image couvre toute la zone */
    z-index: -1; /* Envoie l'image en arrière-plan */
}

.mod-cell {
    text-align: center;
    width: 250px;
}

.mod-cell img {
    display: block;
    margin: 0 auto;
}

.mod-name {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.mod-author {
    display: block;
    font-weight: bold;
    font-size: 17px;
    color: #999999;
}

.mod-tag {
    display: inline-block;
    background-color: #999999;
    color: #000000;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px;
    font-size: 17px;
    font-weight: bold;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

table h3 {
    margin: 0px;
}

.newsTable {
    display: flex;
    justify-content: center;
}

#configTable td {
    width: 50%;
}

.configModName {
    margin-bottom: 0px;
}